

@media (max-width: 768px) {
    
    header {
      background-color: black;
      color: white;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      height: 80px;
      display: grid;
      justify-content: center;
      align-items: center;

      h1{
        font-family: "Advent Pro";
        font-size: 2.2em;
        font-style: bold;
        letter-spacing: 6px;
      }
    }   
    
    #courseList {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        border: 0.6vh solid black;
        border-radius: 1vh;        
      }

      h3 {
        font-size: 30px;
        text-decoration: underline;
        font-family: "Advent Pro";
        font-style: bolder; 
      }

      .infoText {
        font-family: "Advent Pro";
        font-style: bolder;

      }
    }
}